.header-container {
    padding: 1rem 2rem;
    margin: 1rem 0;
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
  }
  
  .header-stack {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: rgba(235,245,255,255);
    padding: 0.5rem;
  }
  
  .search-container {
    margin-left: 1rem;
    background-color: rgba(235,245,255,255);
  }
  
  .search-form {
    display: flex;
  }
  
  .search-input {
    margin-right: 0.5rem;
  }
  
  .admin-name {
    margin-left: auto;
  }
  
  .profile-toggle {
    background-color: rgba(235,245,255,255) !important;
    border-color: #fff;
  }
  
  .profile-image {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  .profile-menu .logout-option {
    border-top: 1px solid #ccc;
    margin-top: 1rem;
  }
  
  .logout-icon {
    font-size: 1.25rem;
    color: #dc3545;
  }
  

/* Extra small devices (phones, 280px and up) */
@media screen and (max-width: 576px) {
.header-container {
  padding: 0.5rem 1rem;
}

.admin-name {
  font-size: 12px;
}

.profile-image {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.custom-button{
  width: 70px;
  font-size: 12px !important;
}

.search-input {
  font-size: 12px !important;
}

}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 768px) {
.header-container {
  padding: 0.75rem 1.5rem;
}
.search-input, .admin-name, .profile-image {
  display: block;
}
.search-input {
  margin-right: 0.25rem;
}
.profile-image {
  width: 35px;
  height: 35px;
}
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 992px) {
.header-container {
  padding: 1rem 2rem;
}
.search-input, .admin-name, .profile-image {
  display: block;
}
.profile-image {
  width: 40px;
  height: 40px;
}
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
.header-container {
  padding: 1.25rem 2.5rem;
}
.search-input, .admin-name, .profile-image {
  display: block;
}
.profile-image {
  width: 45px;
  height: 45px;
}
}

